---
layout: default
---

<article class="article">
    <header class="article__header"
        {% if page.background %}
            style="background: {{ page.background }};"
        {% endif %}
    >
    	<div class="wrapper">
            <div class="article__header__headings">
    	        <h1>{{ page.title }}</h1>
    	        <span class="page__date--header">{{ page.date | date: "%-d %B %Y" }}</span>
            </div>
	    </div>
    </header>
	<div class="wrapper">
    	<div class="article__content">
	    	{{ content }}
	    </div>
    </div>
</article>