---
layout: default
---

<article class="article">
    <header class="article__header" style="background-image:url('http://upload.wikimedia.org/wikipedia/commons/0/08/Piers_Sellers_spacewalk.jpg');">
    	<div class="wrapper">
            <div class="article__header__headings">
    	        <h1>{{ page.title }}</h1>
    	        <span class="page__date--header">{{ page.date | date: "%-d %B %Y" }}</span>
            </div>
	    </div>
    </header>
	<div class="wrapper">
    	<div class="article__content">
	    	{{ content }}
	    </div>
    </div>
</article>

{% include footer.html %}