---
layout: default
---

<article class="page">
    <header class="page__header page__header--animated"
        {% if page.background %}
            style="background: {{ page.background }};"
        {% endif %}
    >
    	<div class="wrapper">
            <div class="page__headings">
    	        <h1 class="page__title">{{ page.title }}</h1>
    	        <span class="page__date--header">{{ page.date | date: "%-d %B %Y" }}</span>
            </div>
        </div>
    </header>
    <div class="wrapper">
    	<div class="page__content">
            {{ content }}
        </div>
        {% if page.video %}
            <div class="article__video">
                <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/{{ page.video }}"
                    frameborder="0"
                    allowfullscreen
                ></iframe>
            </div>
        {% endif %}
    </div>
</article>
