{% if page.background %}
    {% assign background = page.background %}
{% else %}
    {% assign background = '#31394e' %}
{% endif %}

<!doctype html>
<html class="no-js" lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if page.description %}
            <meta name="description" content="{{ page.description }}">
        {% else %}
            <meta name="description" content="Sam is a front-end developer at Gitlab, and co-organiser of Frontend NE; a meetup for front-end developers in the North East.">
        {% endif %}
        <meta name="theme-color" content="{{ background }}">
        <link rel="manifest" href="/manifest.json">
        <style>{% include base-styles.css %}</style>

        <link rel="shortcut icon" href="/favicon.ico">
        <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" media="screen, projection, print" rel="stylesheet" type="text/css" />

        <!-- <link href="/css/print.css" media="print" rel="stylesheet" type="text/css" /> -->

        <script src="/scripts/vendor/modernizr.js"></script>

        <title>Sam Beckham{% if page.title %} | {{ page.title }}{% endif %}</title>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-19985723-6', 'auto');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
        </script>
    </head>

    <body{% if page.slug %} class="page__{{ page.slug }}"{% endif %}>
        {{ content }}
        <script src="/scripts/main.js"></script>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </body>
</html>
