---
layout: default
---

<article class="page">
    <header class="page__header">
    	<div class="wrapper">
            <div class="page__headings">
    	        <h1 class="page__title">{{ page.title }}</h1>
    	        <span class="page__date--header">{{ page.date | date: "%-d %B %Y" }}</span>
            </div>
	    </div>
    </header>
	<div class="wrapper">
    	<div class="page__content">
	    	{{ content }}
            <h2 class="title--has-sub">Blog</h2>
            <a href="/wrote/" class="title--is-sub">See All</a>
            <ul class="post-list">
                {% for post in site.posts | limit: 4 %}
                    <li class="post-list__item">
                        <a href="{{ post.url }}" class="card" style="background:{{ post.background }}">
                            <div class="card__titles">
                                <h3 class="card__title">{{ post.title }}</h3>
                                <em class="card__sub-title">{{ post.date | date: "%-d %B %Y" }}</em>
                                <p class="card__info">{{ post.excerpt | strip_html }}</p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
	    </div>
    </div>
</article>
