---
layout: component
title: Buttons
slug: buttons
group: 01_global
description: |
  Buttons are used anywhere I need a call to action. These aren't to be abused, too many buttons and the CTAs lose their prominence.

  They can contain whatever html you want (within reason).
---  

<a href="#" class="button">Button</a>
<a href="#" class="button button--inline">Inline</a> <a href="#" class="button button--inline">buttons</a>
<a href="#" class="button button--large">This is a <strong>massive</strong>, fat, <strike>fucking</strike> <em>foul-mouthed</em> button</a>
<a href="#" class="button button--inverted">Inverted</a>