---
layout: component
title: Typography
slug: typography
group: 00_text
description: |
  The typography drives this site. Most of the elements are derived from the baseline grid that the main body copy creates.

  The body copy is set in [Merriweather](https://www.google.com/fonts/specimen/Merriweather), whilst the headings are capitalised and set in [Josefin Sans](https://www.google.com/fonts/specimen/Josefin+Sans)

  The font-size changes at different breakpoints, starting small then getting bigger as more room is available.
---  

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex ratione soluta sunt. Possimus tempore culpa, esse porro, natus voluptate voluptatibus.</p>