---
layout: component
title: Introductory paragraph
slug: introductory-paragraph
group: 00_text
description: |
  The introductory paragraph is slightly larger than the other paragraphs on a page. This style is triggered by either being the first paragrpah in an article or by using the `.paragraph--intro` class.
---  

<p class="paragraph--intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, sed repudiandae suscipit corporis temporibus laborum totam? Nemo, libero enim a accusantium.</p>