---
layout: component
title: Text Styles
slug: text-styles
group: 00_text
description: |
  You can emphasise text with `<strong>`, or a class of `.text--bold`.

  You can italicise text with `<em>`, or a class of `.text--italic`.

  You can underline text with `<u>`, or a class of `.text--underlined`.

  You can strike text with `<strike>`, or a class of `.text--strike`

  Just like the meat section at Asda, you can mix-and-match.
---

<p>This uses tags and is <strong>bold</strong>, <em>italic</em>, <u>underlined</u>, and <strike>strike</strike>.</p>
<p>This uses classes and is <span class="text--bold">bold</span>, <span class="text--italic">italic</span>, <span class="text--underlined">underlined</span>, and <span class="text--strike">strike</span>.</p>
<p>don't go <strike>too</strike> <em class="text--bold text--underlined">crazy</em>.</p>