<header class="page-header" role="banner">
	<div class="wrapper">
	    <a href="/" class="main-logo" title="home">
            <svg viewBox="0 0 100 100" class="icon icon__logo">
                <use xlink:href="#icon__logo"></use>
            </svg>
        </a>
	    <nav class="nav nav--main">
	    	<ul>
	    		<li class="main-nav__work"><a href="/made">Work</a></li>
                <li class="main-nav__blog"><a href="/wrote">Blog</a></li>
                <li class="main-nav__contact"><a href="/contact">Contact</a></li>
	    	</ul>
	    </nav>
	</div>
</header>