<header class="page-header fixed" role="banner">
	<div class="wrapper">
	    <a href="/" class="main-logo" title="home">
            <svg viewBox="0 0 100 100" class="icon icon__logo">
                <use xlink:href="#icon__logo"></use>
            </svg>
        </a>
	    <nav class="main-nav">
	    	<ul>
	    		<li class="main-nav__work"><a href="/made" class="button button--nav">Work</a></li>
	    		<li class="main-nav__blog"><a href="/wrote" class="button button--nav">Blog</a></li>
	    	</ul>
	    </nav>
	</div>
</header>