.page__header {
    @extend %layout__default;
    @extend %layout__header;

    background-attachment: fixed;
    background-color: $color__black;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: transform .4s cubic-bezier(.38, .3, .41, 1.2);
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
    }
}
.page__header--animated {
    .js .animate-in & {
        transform: translate(0, 100%);
    }
}

.page__header__headings {
    @extend %layout__default;
    @extend %layout__content;

    background-color: $color__white;
    padding: $ratio--inv#{em};

    h1 {
        margin: 0;
    }
}

.page__content {
    @extend %layout__default;
    @extend %layout__content;

    color: $color__gray--dark;

    img {
        background-color: $color__white;
        display: block;
    }
}
