.article__header{
	@extend %layout__default;
	@extend %layout__header;

	background-color: $color__red;
}

.article__content{
	@extend %layout__default;
	@extend %layout__content;

	img{
		background-color: $color__gray;
		display: block;
		height: 100px;
		width: 100% + percentage( map-get($columns, c) / map-get($columns, d) );
		margin-left: 0 - percentage( map-get($columns, c) );
	}
}