.page__header {
    @extend %layout__default;
    @extend %layout__header;

    background-attachment: fixed;
    background-color: $color__black;
    background-position: center;
    background-repeat: no-repeat;
}

.page__header__headings {
    @extend %layout__default;
    @extend %layout__content;

    background-color: $color__white;
    padding: $ratio--inv#{em};

    h1 {
        margin: 0;
    }
}

.page__content {
    @extend %layout__default;
    @extend %layout__content;

    color: $color__gray--dark;

    img {
        background-color: $color__white;
        display: block;
    }
}
