.page-header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 1s;

    a{
        color: $color__white;
    }

    .wrapper{
        padding-top: $ratio-inv#{em};
        padding-bottom: 0;
    }
}

.page-header--fixed{
    position: fixed;
    background-color: $color__white;
    z-index: 9;

    a{
        color: $color__gray--light;
    }
}