.page-header {
    background-color: transparent;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 1s;

    a {
        color: $color__white;
    }

    .wrapper {
        padding-bottom: 0;
        padding-top: $ratio--inv#{em};
    }
}

.page-header--fixed {
    background-color: $color__white;
    position: fixed;
    z-index: 9;

    a {
        color: $color__gray--light;
    }
}
