//  # Marber

$gutter-width: map-get($columns, a) + map-get($columns, b);
$content-width: 1 - $gutter-width;

.marber {
  display: grid;
  grid-column-gap: 1em;
  // scss-lint:disable SpaceAfterPropertyColon
  grid-template-areas:
      "header"
      "gutter"
      "content"
      "footer";
  // scss-lint:enable SpaceAfterPropertyColon

  @include breakpoint(small) {
    // scss-lint:disable SpaceAfterPropertyColon
    grid-template-areas:
      "header header"
      "gutter content"
      "footer footer";
    // scss-lint:enable SpaceAfterPropertyColon
    grid-template-columns: #{$gutter-width}fr #{$content-width}fr;
  }
}
