.main-nav{
    position: absolute;
    right: $ratio-inv#{em};
    top: $ratio-inv#{em};

    li{
        display: inline-block;
        font-size: $ratio-inv#{em};
    }

    a{
        font-family: $alt-font;
        text-transform: uppercase;
        color: $color__white;
        text-decoration: none;
        background-color: $color__gray;
        background-color: rgba($color__black, $ratio-inv);
        padding: $ratio-inv--2#{em} $ratio#{em};

        &:hover,
        &:focus,
        &.active{
            background-color: $color__black;
        }
    }
}