//  # Page

.page__header {
  @extend %layout__default;
  @extend %layout__header;

  background-attachment: fixed;
  background-color: $color__black;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: transform .4s $ease--bounce-in;
  z-index: 1;

  &::before {
    background-color: inherit;
    bottom: 100%;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.page__header--animated {
  .js .animate-in & {
    transform: translate(0, 100%);
  }
}

.page__headings {
  @extend %layout__default;
  @extend %layout__content;

  background-color: $color__white;
  padding: #{$ratio--inv}em;
}

.page__title {
  margin: 0;
}

.page__content {
  @extend %layout__default;
  @extend %layout__content;

  color: $color__gray--dark;

  > p:first-of-type {
    font-size: #{$ratio}em;
    line-height: #{$ratio}em;
  }
}
