//  # Page

.page__header {
  align-content: center;
  align-items: flex-end;
  background-color: $color__black;
  display: flex;
  flex-flow: row wrap;
  grid-area: header;
  height: #{map-get($columns, d) * 100}vh;
  position: relative;
  transition: transform .4s $ease--bounce-in;
  width: 100%;
  z-index: 1;

  &::before {
    background-color: inherit;
    bottom: 100%;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.page__header--animated {
  .js .animate-in & {
    transform: translate(0, 100%);
  }
}

.page__headings {
  background-color: $color__white;
  grid-area: content;
  padding: #{$ratio--inv}em;
}

.page__title {
  margin: 0;
}

.page__content {
  color: $color__gray--dark;
  grid-area: content;

  > p:first-of-type {
    font-size: #{$ratio}em;
    line-height: #{$ratio}em;
  }
}
