//  # Post list

.post-list {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  list-style: none;
  margin: 0;
}

@supports not (display: grid) {
  .post-list__item {
    display: inline-block;
    padding: #{$ratio--inv}em;
    width: percentage(1 / 2);

    @include breakpoint(extra-small) {
      width: percentage(1 / 3);
    }

    @include breakpoint(medium) {
      width: percentage(1 / 4);
    }
  }
}
