.post-list__item {
    display: inline-block;
    padding: $ratio--inv#{em};
    width: percentage(1/2);

    @include breakpoint(small) {
        width: percentage(1/3);
    }

    @include breakpoint(medium) {
        width: percentage(1/4);
    }
}
