.highlight{
    .hll{
        background-color: #49483e; //dark olive
    }

    .c, .c1, .cm, .cp, .cs{
        color: #75715e; //olive
    }

    .err{
        background-color: $color__gray--light;
    }

    .k, .kc, .kd, .kp, .kr, .kt,
    .no{
        color: $color__green--light;
    }

    .il,
    .l,
    .m, .mf, .mh, .mi, .mo,
    .se{
        color: $color__blue--light;
    }

    .kn,
    .nt,
    .o, .ow,
    .err{
        color: $color__red--light;
    }

    .ge{
        font-style: italic;
    }

    .gs{
        font-weight: 700;
    }

    .ld,
    .s, .s1, .s2, .sb, .sc, .sd, .sh, .si, .sr, .ss, .sx{
        color: $color__yellow--light;
    }

    .na, .nc, .nd, .ne, .nf, .nx{
        color: $color__white;
    }
}