//  # Title
//  TODO: rename these, they're modifications of nothing

.title--has-sub {
  display: inline-block;
}

.title--is-sub {
  display: inline-block;
  font-style: italic;
  margin-left: #{$ratio--inv}em;
}
