//  # Grid
//  The grid is set out as a series of helper classes to keep the markup a
//  little cleaner.

%layout__gutter {
  grid-area: gutter;
}

%layout__content {
  grid-area: content;
}

%layout__header {
  grid-area: header;
  align-content: center;
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  height: #{map-get($columns, d) * 100}vh;
  width: 100%;
}
