$breakpoints: (
    extra-small  : 26em,
    small  : 38em,
	medium : 56em,
	large  : 72em
);

$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;

@mixin breakpoint($breakpoint) {
    $value: map-get($breakpoints, $breakpoint);

    @if $value != null {
        $current-breakpoint: $breakpoint !global;

        @media (min-width: $value) {
            @content;
        }

        $current-breakpoint: $default-breakpoint !global;
    } @else {
        @warn "Invalid breakpoint `#{$breakpoint}`.";
    }
}
