$breakpoints: (
	small  : 300px,
	medium : 600px,
	large  : 800px
);

$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;
@mixin breakpoint($breakpoint) {
    $value: map-get($breakpoints, $breakpoint);
 
	@if $value != null {
		$current-breakpoint: $breakpoint !global;

		@media (min-width: $value) {
			@content;
		}

		$current-breakpoint: $default-breakpoint !global;
	} @else {
		@warn "Invalid breakpoint `#{$breakpoint}`.";
	}
}