//  # Typography
//  Just the variables in here.

$body-font: 'Helvetica Neue', Helvetica, sans-serif;
$code-font: 'Droid Sans Mono', 'consolas', 'monaco', 'courier', monospaced;

$heading-font: $body-font;

$line-height: 1.8em;
$font-weight: 300;
$font-size: 16;
