// grid

$columns: (
    a: .102,
    b: .115,
    c: .051,
    d: .722
);

%layout__container {
    margin: 0 auto;
    max-width: map-get($breakpoints, large);
    padding: $ratio#{em};
    position: relative;
    width: 100%;
}

.wrapper {
    @extend %layout__container;
}

%layout__default {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

%layout__gutter {
    @include breakpoint(small) {
        width: percentage(map-get($columns, a) + map-get($columns, b));
    }
}

%layout__content {
    @include breakpoint(small) {
        margin-left: percentage(map-get($columns, a) + map-get($columns, b) + map-get($columns, c));
        width: percentage(map-get($columns, d));
    }
}

%layout__content--with-gutter {
    @include breakpoint(small) {
        margin-left: percentage(map-get($columns, c));
        width: percentage(map-get($columns, d));
    }
}

%layout__header {
    align-content: center;
    align-items: flex-end;
    display: flex;
    flex-flow: row wrap;
    height: map-get($columns, d) * 100#{vh};
    width: 100%;
}
