// main
* {
    box-sizing: border-box;
}

html {
    background-color: $color__white;
    color: $color__black;
}

.hide.hide {
    display: none;
}

.fullscreen {
    position: fixed;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    width: 120%;
    height: 120%;
    padding: 0;
}