// main
* {
    box-sizing: border-box;
}

html {
    background-color: $color__gray--light;
    color: $color__black;
}

hr {
    background-color: currentcolor;
    border: none;
    display: block;
    height: 1px;
    margin: #{pow($ratio, 2)}em 20%;
    max-width: calc(38em - 40%);
    opacity: $ratio--inv;
    width: 60%;
}

.hide.hide {
    display: none;
}

.fullscreen.fullscreen {
    bottom: -10%;
    height: 120%;
    left: -10%;
    padding: 0;
    position: fixed;
    right: -10%;
    top: -10%;
    width: 120%;
}
