// main
* {
    box-sizing: border-box;
}

html {
    background-color: $color__gray--light;
    color: $color__black;
}

.hide.hide {
    display: none;
}

.fullscreen.fullscreen {
    bottom: -10%;
    height: 120%;
    left: -10%;
    padding: 0;
    position: fixed;
    right: -10%;
    top: -10%;
    width: 120%;
}
