%hn{
    line-height: 1em;
    margin: $ratio#{em} 0 $ratio-inv#{em};
}

h1{
    @extend %hn;

    font-size: $ratio--2#{em};
}

h2{
    @extend %hn;

    font-size: $ratio#{em};
}

h3,
h4{
    @extend %hn;

    font-size: 1 + (.5 * $ratio-inv)#{em};
}