$underline-height: 2px;

a {
    color: $color__blue;
    transition: all .4s;

    &:hover,
    &:focus,
    &:visited {
        color: $color__blue--light;
    }

    .cssgradients & {
        background-image: linear-gradient(
            to top,
            transparent $underline-height - 1,
            currentcolor $underline-height,
            transparent $underline-height
        );
        text-decoration: none;
    }
}
