// main
*{
	box-sizing: border-box;
}

html{
	background-color: $color__white;
	color: $color__black;
}

a{
	color: $color__link;
	transition: all .4s;

	&:hover,
	&:focus{
		color: $color__link--hover;
	}

	&:visited{
		color: $color__link--visited;
	}
}