//  # Text

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

u {
  text-decoration: underline;
}

s,
strike {
  text-decoration: line-through;
}

p {
  margin-bottom: #{$ratio--inv}em;
  max-width: $paragraph-width;
}
