$body-font: 'Hoefler Text', times, serif;
$alt-font: 'Avenir Next', futura, sans-serif;
$heading-font: $body-font;

$line-height: $ratio#{em};
$font-weight: 400;
$font-size: 16;

html{
	font-family: $body-font;
	line-height: $line-height;
	font-size: $font-size#{px};
	font-weight: $font-weight;

	@include breakpoint(medium){
		font-size: 1.2em;
	}
	@include breakpoint(large){
		font-size: 1.4em;
	}
}