$body-font: 'Helvetica Neue', Helvetica, sans-serif;
$code-font: 'Droid Sans Mono', 'consolas', 'monaco', 'courier', monospaced;

$heading-font: $body-font;

$line-height: 1.8em;
$font-weight: 300;
$font-size: 14;

html {
    font-family: $body-font;
    font-size: $font-size#{px};
    font-weight: $font-weight;
    line-height: $line-height;

    @include breakpoint(medium) {
        font-size: 1.2 * $font-size#{px};
    }
}
