.post-list__header{
	@extend %layout__default;
	@extend %layout__header;

	background-color: $color__flat--gray-3;
}

.post-list__content{
	padding: $ratio-inv#{em};

	background-image: linear-gradient(to bottom,$color__flat--red-1 0, $color__flat--orange-1 100%);
}

.post-list__button{
	@extend %layout__default;
	@extend %layout__gutter;
}

.post-list__title{
	@extend %layout__default;
	@extend %layout__content--with-gutter;

	h2,
	h3{
		margin: 0;
	}

	h3{
		color: $color__white;
	}
}